<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #map {
            height: 700px;
            width: 100%;
        }
    </style>
</head>
<body>
<h3>Demo</h3>
<div id="map"></div>
<script>
    function initMap() {
        console.log('INIT MAP!');
        var uluru = {lat: 47.0517973, lng: 28.8481772};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: uluru
        });
        for (var i=0; i<10; i++) {
            uluru.lat += 0.01;
            uluru.lng += 0.01;
            var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Index ' + i + '</h1>'+
                    '<div id="bodyContent">'+
                    '<p> ' +
                    uluru.lat +
                    uluru.lng +
                    '</p>'+
                    '</div>'+
                    '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Hello World!'
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    }
</script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADGllVlV8tg_15W0yLPAx8tcEfYvsjvRc&callback=initMap">
</script>
</body>
</html>
