html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
    color: #595959;
}

input,
input:focus,
input:hover {
    border: 1px solid gray;
}

.main-container {
    margin-top: 55px;
    /*width: 1200px;*/
    /*margin: 0 auto;*/
    /*height: 100%;*/
}

.main-container-content {
    margin-top: 0;
}

.header-container, .header-title {
    padding: 30px 0 22px;
    background: rgba(255,255,255,0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.header-container .fa-times-circle-o {
    font-size: 45px;
    position: absolute;
    right: 20px;
    top: 24px;
    color: #ececec;
}

.header-container .fa-times-circle-o:hover {
    color: #595959;
}

.search-block {
    display: inline-block;
}

.search-block input {
    color: #595959;
    height: 35px;
    /*width: 200px;*/
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
}

.search-block button {
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100px;
    background: #66dd88;
    color: #fff;
    font-size: 16px;
    border: #66dd88;
}

.middle-container {
    height: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    background: rgba(255,255,255,0.7);
    margin-bottom: 15px;
}

.filter-block {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
}

.filter-block span span {
    font-weight: bold;
    font-size: 14px;
}

.table-container {
    background: #fff;
    height: 500px;
    overflow: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.table-row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 10px;
}

.table-row .main-info .block-after-image .first-line-content h4{
    margin: 0;
    display: inline-block;
    font-weight: normal;
}

.main-info {
    padding-left: 30px;
    width: 85%;
    max-width: 85%;
    display: flex;
    align-items: center;
}

.table-row .main-info img {
    max-width: 60px;
    float: left;
    display: block;
    margin-left: 20px;
}

.table-row .arrow {
    font-size: 25px;
    color: gray;
    position: absolute;
    top: 40px;
}

.table-row .block-after-image {
    margin-left: 15px;
}

.table-row .block-after-image .first-line-content {
    /*width: 700px;*/
    line-height: 28px;
}

.table-row .block-after-image .first-line-content span {
    font-size: 12px;
    color: #b3c1c6;
}

.table-row .block-after-image .first-line-content span .currency {
    background: #eee;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #595959;
}

.second-line-content span:nth-of-type(1),
.second-line-content span:nth-of-type(3) {
    color: #a4a9ab;
    font-size: 12px;
    cursor: pointer;
}

.table-row .block-after-image .first-line-content span .currency:hover {
    background: #66dd88;
    color: #fff;
    cursor: pointer;
}

.second-line-content span:nth-of-type(1):hover,
.second-line-content span:nth-of-type(3):hover,
.table-row .main-info .block-after-image .first-line-content h4:hover,
.comment-icon:hover {
    color: #66dd88;
    cursor: pointer;
}

.second-line-content span:nth-of-type(2) {
    color: #b3c1c6;
    font-size: 12px;
}

.icons-at-right {
    padding-top: 0;
}

.icons-at-right img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icons-at-right .comment-icon {
    font-size: 50px;
}

.icons-at-right .comments-count {
    position: relative;
    right: 60px;
    bottom: 9px;
}

.comment-count {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin: 18px 20px 0 0;
}

/*

* Start Authentication

*/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*

* End Authentication

*/


.main{
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.navigation-avatar {
    border-radius: 50%; 
    height: 28px; 
    margin-top: 2px;
    cursor: pointer;
}

.navigation-dropdown a {
    cursor: pointer;
}
