<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand pull-left" ui-sref="app.dashboard">Public Trackers</a>
            <ul class="nav navbar-nav pull-left">
                <li>
                    <a ui-sref-active="active-top-link" ui-sref="app.dashboard">Dashboard</a>
                </li>
                <li>
                    <a ui-sref-active="active-top-link" ui-sref="app.agencies">Agency</a>
                </li>
                <li>
                    <a ui-sref-active="active-top-link" ui-sref="app.services-list">Services</a>
                </li>
                <li>
                    <a ui-sref-active="active-top-link" ui-sref="app.tenders-list">Tenders</a>
                </li>
                <li>
                    <a ui-sref-active="active-top-link" ui-sref="app.contract-list">Contract</a>
                </li>
                <li>
                    <a ui-sref-active="active-top-link" ui-sref="app.contractor-list">Contractor</a>
                </li>
            </ul>
        </div>
        <div class="pull-right" style="height: 100%; line-height: 50px;">
            <div class="dropdown navigation-dropdown">
               <img src="{{app.user.picture.data.url}}" class="navigation-avatar dropdown-toggle" data-toggle="dropdown">
                <ul class="dropdown-menu">
                    <li><a>Profile</a></li>
                    <li><a>Settings</a></li>
                    <li><a ng-click="app.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container">

    <div class="row">

        <main class="main-container .col-lg-12">
            <div class="header-container">
                <div class="search-block">
                    <p class="col-lg-4" style="padding-top: 7px; text-align: right; margin-bottom: 0">Write something to search</p>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <!--<i class="fa fa-times-circle-o" aria-hidden="true"></i>-->
            </div>
        </main>
    </div>
</div>


<div ui-view></div>
