<main class="main-container">
    <div class="header-container">
        <div class="search-block">
            <label for="search">Write something to search
                <input type="search" id="search" placeholder="Search">
            </label>
            <button> Search </button>
        </div>
        <div class="filter-block">
            <span>View: <Span>Top</Span> <span>New</span></span>
        </div>
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <div class="table-container">
        <div class="table-row">
            <i class="fa fa-arrow-circle-up arrow" aria-hidden="true"></i>
            <div class="main-info">
                <img  class="table-image" src="img/images.jpg" alt="user1">
                <div class="block-after-image">
                    <div class="first-line-content">
                        <h4>Omega Seamaster Planet Ocean Review</h4>
                        <span>theclockarm.com <span class="currency">$10k+</span></span>
                    </div>
                    <div class="second-line-content">
                        <span><b>The Clock Arm</b></span>
                        <span>1 point 4 days ago</span>
                        <span><b>1 Comments</b></span>
                    </div>
                </div>
            </div>
            <div class="icons-at-right">
                <img src="img/images3.jpg" alt="">
                <img src="img/images.jpg" alt="">
                <i class="fa fa-comment-o comment-icon" style="position: relative; top: -8px;" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</main>
<div ui-view></div>
