<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/app">Public Trackers</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="app.agency-list">Agency</a>
                </li>
                <li>
                    <a ui-sref="app.services-list">Services</a>
                </li>
                <li>
                    <a ui-sref="app.tenders-list">Tenders</a>
                </li>
                <li>
                    <a ui-sref="app.contract-list">Contract</a>
                </li>
                <li>
                    <a ui-sref="app.contractor-list">Contractor</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container">

    <div class="row">

        <main class="main-container .col-lg-12">
            <div class="header-container">
                <div class="search-block">
                    <p class="col-lg-4" style="padding-top: 7px; text-align: right; margin-bottom: 0">Write something to search</p>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <!--<i class="fa fa-times-circle-o" aria-hidden="true"></i>-->
            </div>
        </main>
    </div>
</div>


<div ui-view></div>
