<!-- Page Content -->
<div class="container">

    <div class="row">

        <main class="main-container-content .col-lg-12">
            <div class="first-container">
                <h1>Under Construction</h1>
            </div>
            <div class="middle-container">
                <div class="filter-block">
                    <span>View: <Span>Top</Span> <span>New</span></span>
                </div>
            </div>
            <div class="table-container">
                <div class="table-row">
                    <i class="fa fa-arrow-circle-up arrow" aria-hidden="true"></i>
                    <div class="main-info">
                        <img  class="table-image" src="public/src/images/images.jpg" alt="user1">
                        <div class="block-after-image">
                            <div class="first-line-content">
                                <h4>Omega Seamaster Planet Ocean Review</h4>
                                <span>theclockarm.com <span class="currency">$10k+</span></span>
                            </div>
                            <div class="second-line-content">
                                <span><b>The Clock Arm</b></span>
                                <span>1 point 4 days ago</span>
                                <span><b>1 Comments</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="icons-at-right">
                        <img src="public/src/images/images3.jpg" alt="">
                        <img src="public/src/images/images.jpg" alt="">
                        <i class="fa fa-comment-o comment-icon" style="position: relative;top: 4px;margin-right: 10px;" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<div ui-view></div>